

body {
	background-image: url(images/background.png);
	background-attachment: fixed;
}

header {
	width: 80%;
	height: 140px;
	margin:auto;
	text-align: center;
	font-size: 120px;
	font-style:	normal;
	color:#F6D75F;
}
div{
	color:#F6D75F;
}
div.menueleiste {
	border-style:none;
	margin:auto;
	width: 90%;
	height: 35px;
	border: 3px solid gold;
	float: center;
	font-size: 30px;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
}

div.inhalt {
	float: center;
	margin:auto;
	width: 80%;
	/*height: 76%;*/
	border: 3px solid black;
	color: lightblue;
}

div.text {
	float: center;
}
.midchamps {
	color: lightblue;
 }
